<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/New folder/VisitDesk">
        <classes>
<!--            <class name="org.test.InvitedVisitorTest">-->
<!--                <methods>-->
<!--                    <include name="validateInvitedVisitor"/>-->
<!--                </methods>-->
<!--            </class>-->

            <class name="org.test.RecurringPageTest">
                <methods>
                    <include name="validateRecurringVisitor"/>
                </methods>
            </class>

        </classes>
    </test>
</suite>